{% extends 'base.html' %}
{% block content %}
{% load custom %}
<div class="row mt-5">
    <div class="col-12">
        <div class="jumbotron bg-warning text-white">
            <h1>Добро пожаловать!</h1>
            <p class="lead">Компания Duuuck Go появилась на рынке 5 лет назад. Мы предлагаем клиентам
                разнообразные вариации классической игрушки «Резиновая желтая уточка», запатентованной в США
                скульптором Питером Ганином в 1949 году. Такие аксессуары для ванны есть в домах миллионов людей
                по всему миру и считаются популярным сувениром.</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        {% for object in object_list%}
        <div class="col-4 mt-3">
            <div class="card border-warning rounded-3 shadow-sm">
                <div class="card-header bg-white text-center">
                    <img src="{% path_tag object.image %}" width="220" height="263" alt="">
                </div>
                <div class="card-body text-center">
                    <div class="row justify-content-center">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <h7 class="card-title">{{ object.description|truncatechars:100 }}</h7>
                    </div>
                    <a href="{% product_url object.pk %}" class="btn btn-warning">Всего {{ object.price }} рублей</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}