{% extends 'base.html' %}
{% block content %}
{% load custom %}

{% if user.is_user or user.is_manager %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card rounded-3 shadow-sm">
            <div class="card-header">
                <h3>Статистика</h3>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <h5 class="card-title">Общее количество рассылок {{ total_mailings }}</h5>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="card-title">Количество активных рассылок {{ active_mailings }}</h5>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="card-title">Количество уникальных клиентов {{ total_clients }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% if perms.catalog.add_product %}
            <a href="/create_product" class="btn mt-2 btn-warning">Добавить товар</a>
        {% elif perms.catalog.add_post %}
            <a href="/create_post" class="btn mt-2 btn-warning">Добавить пост</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="container">

    <div class="row">
        {% for object in object_list%}
        <div class="col-4 mt-3">
            <div class="card border-warning rounded-3 shadow-sm">
                <div class="card-header bg-white text-center">
                    <img src="{% path_tag object.image %}" width="220" height="263" alt="">
                </div>
                <div class="card-body text-center">
                    <div class="row justify-content-center">
                        <h5 class="card-title">{{ object.name }}</h5>
                    </div>
                    <div class="row justify-content-center">
                        <h7 class="card-title">{{ object.description|truncatechars:100 }}</h7>
                    </div>
                    <a href="{% product_url object.pk %}" class="btn btn-sm btn-warning">Просмотр</a>
                    {% if perms.catalog.change_product %}
                        <a href="{% product_update object.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
                    {% elif perms.catalog.delete_product %}
                        <a href="{% product_delete object.pk %}" class="btn btn-sm btn-warning">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}