{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row mt-3">
    <div class="col-5">
        <div class="row justify-content-center mt-2">
            <img src="{% static 'images/standart.png' %}" alt="">
        </div>
        <div class="row justify-content-center mt-1">
            <a href="#" class="btn btn-outline-warning">Всего 490 рублей</a>
        </div>
    </div>
    <div class="jumbotron col-7 text-white rounded bg-warning">
        <div class="col-12">
            <h1 class="font-italic">"В детстве у меня не было резиновой уточки, поэтому я купался с замороженной
                курицей."</h1>
            <p class="lead text-right mb-0"><a href="#" class="text-white font-weight-bold"> - Директор Duuuck
                Go</a></p>
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row mt-3">
        <div class="col-md-12 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Желтая уточка</h2>

                <p>Ребенку такая игрушка наверняка покажется живой. В самом деле: так и ждешь, что этот задорный
                    желтый комочек с черными глазками-бусинками и оранжевым клювиком расправит крылышки и с веселым
                    кряканьем поиграет с малышом в любую увлекательную игру. Ну и ну! Только брызги веером в разные
                    стороны! Утенок изготовлен из высококлассного материала, который соответствует актуальным
                    нормам и стандартам. Он абсолютно безопасен для человека, даже если малыш решит попробовать
                    своего желтого друга на вкус. Уточка предназначена для частого использования, поэтому окрашена
                    краской, которая не меняет цвет ни от времени, ни от воздействия моющих или дезинфицирующих
                    средств. Удобная форма позволит надежно держать игрушку даже самым маленьким проказникам.
                    Более того, маленькая резиновая уточка может стать компаньонам не только во время водных
                    процедур. С ней можно отправляться на прогулки и даже спать. Только представьте глаза ребенка,
                    который впервые увидит эту яркую и задорную уточку. Насыщенный желтый цвет наполняет позитивом,
                    и даже самые сложные будни будет намного проще пережить с таким верным напарником. К слову, и
                    взрослым может понравиться такой милый сувенир, особенно тем, кто давно коллекционирует Funny
                    Ducks и трепетно относится к каждому новому экземпляру.</p>
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</main><!-- /.container -->
{% endblock%}
