{% extends 'base.html' %}
{% block content %}
{% load custom %}

<div class="row mt-5">
    <div class="col-12">
        <div class="jumbotron bg-warning text-white">
            <h1>Все рассылки</h1>
            <p class="lead">В этом разделе находятся все рассылки. Здесь можно создавать удалять и редактировать рассылки.</p>
        </div>
        <div class="row ml-2">
            <a href="/create_newsletter" class="btn btn-warning mr-2">Добавить рассылку</a>
            <form action="{% url 'mailing_app:list_of_newsletters' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Запустить вручную</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Время начала</th>
            <th scope="col">Время окончания</th>
            <th scope="col">Время последней рассылки</th>
            <th scope="col">Периодичность</th>
            <th scope="col">Текст рассылки</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list%}
        <tr>
            <th scope="row">{{ object.id }}</th>
            <td>{{ object.start_time }}</td>
            <td>{{ object.stop_time }}</td>
            <td>{{ object.last_time }}</td>
            {% if object.period == 'day'%}
            <td>Раз в день</td>
            {% elif object.period == 'week' %}
            <td>Раз в неделю</td>
            {% elif object.period == 'month' %}
            <td>Раз в месяц</td>
            {% endif %}
            <td>{{ object.message|truncatechars:100 }}</td>
            <td>
                <a href="{% url 'mailing_app:update_newsletter' object.pk %}" class="btn btn-sm mb-1 btn-warning">edit</a>
                <a href="{% url 'mailing_app:delete_newsletter' object.pk %}" class="btn btn-sm btn-warning">delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}