{% extends 'base.html' %}
{% block content %}
{% load custom %}

<div class="row mt-5">
    <div class="col-12">
        <div class="jumbotron bg-warning text-white">
            <h1>Все рассылки</h1>
            <p class="lead">В этом разделе находятся все рассылки. Здесь можно создавать удалять и редактировать рассылки.</p>
        </div>
        <a href="/create_newsletter" class="btn btn-warning">Добавить рассылку</a>
    </div>
</div>

<div class="container">

    <div class="row">
        {% for object in object_list%}
        <div class="col-4 mt-3">
            <div class="card border-warning rounded-3 shadow-sm">
                <div class="card-body text-center">
                    <div class="row justify-content-center">
                        <h5 class="card-title">Время начала: {{ object.start_time }}</h5>
                    </div>
                    <div class="row justify-content-center">
                        <h5 class="card-title">Время окончания: {{ object.stop_time }}</h5>
                    </div>
                    {% if object.period == 'day' %}
                        <div class="row justify-content-center">
                            <h5 class="card-title">Периодичность: один раз в день</h5>
                        </div>
                    {% elif object.period == 'week' %}
                        <div class="row justify-content-center">
                            <h5 class="card-title">Периодичность: один раз в неделю</h5>
                        </div>
                    {% elif object.period == 'month' %}
                        <div class="row justify-content-center">
                            <h5 class="card-title">Периодичность: один раз в месяц</h5>
                        </div>
                    {% endif %}
                    <div class="row justify-content-center">
                        <h7 class="card-title">{{ object.message|truncatechars:100 }}</h7>
                    </div>
                    <a href="{% url 'mailing_app:update_newsletter' object.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
                    <a href="#" class="btn btn-sm btn-warning">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}